/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  background: #FFFFFF;
}
.wholewrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar {
  display:flex;
  align-items: flex-start;
  background: #15C39A;
  position: fixed;
  width: 100%;
  padding: .7rem;
}
.navbar-title {
  font-family: 'Lobster Two', cursive;
  color: #FFFFFF;
}
.initialwrapper {  
   margin-top: 100px;
   width: 496px;
   height: 100%;
   background: #fff;
   border-radius: 10px;
   padding: 18px 25px 20px;
   box-shadow: 0 0 30px rgba(0,0,0,0.4);
}
.initialwrapper h2 {
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
  padding-left: 1.30rem;
}
.initialwrapper img {
  max-width: 23px;
  margin-top: 4px;
  float: left;
}
.initialwrapper .icon1 {
  max-width: 18px;
  margin-top: 4px;
}
.initialwrapper .icon1rel {
  max-width: 20px;
  margin-top: 6px;
}
.inputBoxStyle {
  display: block;
  width: 100%;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  padding: .8rem;
  font-size: 15px;
}
.wrapper{
  width: 496px;
  background: #fff;
  border-radius: 10px;
  margin-top: 50px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul  li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details{
  justify-content: space-between;
  margin-top: 24px;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #15C39A;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #2c52ed;
}
a[role="button"] {
    display: inline-block;
    align-items: center;
    margin-top: 50px;
    padding: 9px 95px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    /*font-weight: 600;*/
    color: #fff;
    background: #15C39A;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    text-decoration: none;
    transition: background 0.3s ease;
  } 
a[role="button"]:hover {
  background-color: #2c52ed;
}
a[role="button"]:active {
  background-color: #0c77e1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
  