/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #FFFFFF;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.wholewrapper {
  grid-row: 2;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
nav.transparent {
  opacity: 0;
}
.navbar {
  display:flex;
  align-items: flex-start;
  background: #15C39A;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  transition: opacity 0.4s ease-out;
}
.navbar-title {
  font-family: 'Lobster Two', cursive;
  color: #FFFFFF;
}
.initialwrapper {  
  margin-top: 105px;
  width: 30%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}
.initialwrapper h2 {
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
  padding-left: 1.30rem;
}
.initialwrapper img {
  max-width: 23px;
  margin-top: 4px;
  float: left;
}
.initialwrapper .icon1 {
  max-width: 18px;
  margin-top: 4px;
}
.initialwrapper .icon1rel {
  max-width: 20px;
  margin-top: 6px;
}
.inputBoxStyle {
  display: block;
  width: 100%;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  padding: .8rem;
  font-size: 15px;
}
.wrapper{
  width: 30%;
  background: #fff;
  border-radius: 10px;
  margin-top: 50px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul  li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input{
  width: 30%;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details{
  justify-content: space-between;
  margin-top: 24px;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  padding: 9px 15px;
  border-radius: 5px;
  background: #15C39A;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #22D6A3;
}
a[role="button"] {
  display: inline-block;
  align-items: center;
  margin-top: 48px;
  padding: 9px 75px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 15px;
  color: #fff;
  background: #15C39A;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  text-decoration: none;
  transition: background 0.3s ease;
  } 
a[role="button"]:hover {
  background-color: #22D6A3;
}
a[role="button"]:active {
  background-color: #22D6A3;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
a[role="button"]:focus, .details button:focus {
  background-color: #22D6A3;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  border: 1.5px solid  #4C4C4C;
}
.footer1{
  grid-row: 3;
  background: #15C39A;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 130px;
  padding: 1rem;
  text-align: center;
  color: #fff;  
}
.line{
  background-color: #fff;
  height:1px;
  width: 50%;
  margin-left: 25%;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.container{
  display: flex; 
  justify-content: center;
  margin-top: 10px;
}
.iconline {
  display: inline;
  margin-right: 10px;
}
.container a, .attribution{
  text-decoration: none;
  color: #4C4C4C;
}
.container a:hover, .attribution:hover{
  color:#fff;
}
.container > * {
  margin-right: 20px; /* add 10px of space to the right of each flex item */
}
.container > *:last-child {
  margin-right: 0; /* remove the right margin from the last flex item */
}
  

@media (max-width: 394px) {
  /* CSS styles to apply when the viewport width is less than or equal to 600px */
  .wholewrapper{
    width: 100%;
  }
  .initialwrapper {
    width: 80%;
  }
  .wrapper{
    width: 80%;
  }
}

@media (max-width: 327px) {
  /* CSS styles to apply when the viewport width is less than or equal to 327px */
  .wholewrapper{
    width: 100%;
  }
  .initialwrapper {
    width: 80%;
  }
  .wrapper{
    width: 80%;
  }
  #absent {
    width: 100%;
  }
}

@media (min-width: 395px) and (max-width :700px) {
  /* CSS styles to apply when the viewport width is less than or equal to 600px */
  .wholewrapper{
    width: 100%;
  }
  .initialwrapper {
    width: 80%;
  }
  .wrapper{
    width: 80%;
  }
  .content ul input{
    flex-wrap: wrap;
  }
}